body {
    display       : grid;
    // padding    : 1rem;
    place-items   : center;
    background    : lighten($color: $bg, $amount: 10%);
}

form {
    max-width      : 25rem;
    margin         : auto;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    width          : 24rem;
    height         : 24rem;
    padding        : 3rem;
    gap            : 1rem;
    border-radius  : 50%;
    background     : linear-gradient(to right, darken($color: $primary, $amount: 15%), lighten($color: $primary, $amount: 5%), darken($color: $primary, $amount: 15%));
    box-shadow     : 0 12px 10px rgba(0, 0, 0, 0.429);

    @media screen and (max-width: $mdScreen) {
        width : 95%;
        width : 19.5rem;
        height: 19.5rem;
    }

    &.sign_up {
        width        : 17rem;
        display      : grid;
        max-width    : 25rem;
        border-radius: 0;
        height       : fit-content;
        border-radius: calc($radius + 1rem);

        @media screen and (min-width: $lgScreen) {
            align-items          : start;
            display              : grid;
            grid-template-columns: repeat(2, 1fr);
            max-width            : 40rem;
            width                : 38rem;
        }
    }

    a {
        color  : $bg;
        opacity: 0.8;

        &:hover {
            color  : $bg;
            opacity: .9;
        }
    }

    .inputs {
        width        : 100%;
        display      : flex;
        align-items  : center;
        background   : none;
        border-radius: $halfRadius;
        padding      : $halfPad;
        gap          : 0.3rem;
        box-shadow   : 0 0 1px 2px lighten($color: $primary, $amount: 10%);

        &.redBord {
            border: 1.5px solid red;
        }

        &.gender {
            background     : none;
            justify-content: space-between;

            @media screen and (min-width: $lgScreen) {
                justify-content: center;
            }

            .male,
            .female {
                display: flex;
                gap    : 1rem;
                color  : $text;

                @media screen and (min-width: $lgScreen) {
                    gap: 0;
                }

                input {
                    width     : 4rem;
                    background: none;
                }
            }
        }

        .ico {
            color: $text;
        }

        .eye {
            cursor: pointer;
        }

        input {
            width     : 100%;
            border    : none;
            font-size : 1.2rem;
            outline   : none;
            background: none;
            color     : $text;
        }
    }

    button {
        width        : 100%;
        position     : relative;
        overflow     : hidden;
        border-radius: $halfRadius;
        background   : $primary;
        border       : none;
        padding      : $halfPad;
        color        : $text;
        transform    : scaleY(0.9);

        &.sign::after {
            content: "";
        }

        &::after {
            content        : "";
            display        : flex;
            justify-content: center;
            align-items    : center;
            color          : black;
            width          : 3%;
            height         : 100%;
            position       : absolute;
            background     : #ffffff58;
            top            : 0;
            left           : 0;
            transition     : 1s;
            border-radius  : inherit;
            transform      : skew(-15deg) translateX(-150%);
        }

        &:hover {

            &::after {
                width    : 100%;
                transform: scaleX(1) translateX(150%);
            }
        }
    }

    p {
        font-size: 0.9rem;
        opacity  : 0.8;
        color    : $text;
        margin   : 0 !important;
    }

    .foot {
        width: 100%;

        @media screen and (min-width: $lgScreen) {
            grid-column: 1/3;
        }

        p {
            text-align: center;
            margin    : 0 !important;

            a {
                color: $bg;
            }
        }
    }
}

.error {
    p {
        margin-bottom: 0 !important;
        color        : red !important;
    }
}

.error-big {
    background     : red;
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding        : $halfPad;
    border-radius  : $halfRadius;

    @media screen and (min-width: $lgScreen) {
        grid-column: 1/3;
    }

    p {
        margin-bottom: 0 !important;
        color        : white !important;
        font-size    : 1rem;
        font-weight  : bolder;
    }
}