* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    text-decoration: none !important;
    font-family    : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    border-radius: 10px;
}

body {
    width     : 100vw;
    height    : 100vh;
    overflow-x: hidden;
    background: $bg;
}

.ico {
    color    : $primary;
    font-size: 1.2rem;
}