.settingsPg {
    padding        : 1rem;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : center;
    height         : 100%;

    .head {
        width          : 100%;
        display        : flex;
        height         : 2.5rem;
        justify-content: space-between;
        align-items    : center;
        padding        : 0 0.5rem;
        gap            : .5rem;

        div {
            display: flex;
            gap    : .5rem;

            .back {
                cursor: pointer;
            }

            h3 {
                color        : $primary;
                font-size    : 1.1rem;
                margin-bottom: 0;
            }
        }

        .image {
            width        : 2.2rem;
            height       : 2.2rem;
            border-radius: 50%;
            overflow     : hidden;

            img {
                width : 100%;
                height: 100%;
            }
        }
    }

    .set {
        width         : 100%;
        display       : flex;
        flex-direction: column;
        gap           : .5rem;
        overflow-y    : auto;
        height        : calc(100% - 2.5rem);

        .setting {
            width          : 100%;
            display        : flex;
            align-items    : center;
            justify-content: space-between;
            background     : $primary;
            border-radius  : $radius;
            transition     : 1s;
            flex-direction : row-reverse;
            cursor         : pointer;
            border         : none;
            padding        : .9rem;
            gap            : .5rem;

            &:hover {
                background: lighten($color: $primary, $amount: 10%);
            }

            h5 {
                color     : $text;
                font-size : 1rem;
                margin    : 0;
                transition: 1s;
            }

            .icon {
                font-size: 1.2rem;
                color    : #9eabfd;
            }
        }
    }
}

.profileModal {

    label {
        cursor  : pointer;
        width   : 3.5rem;
        height  : 3.5rem;
        position: relative;

        &::after {
            content        : 'Click to upload';
            width          : 100%;
            top            : 0;
            left           : 0;
            height         : 100%;
            position       : absolute;
            left           : 0;
            top            : 0;
            display        : flex;
            transform      : scale(0);
            justify-content: center;
            align-items    : center;
            word-wrap      : break-word;
            margin         : auto;
            font-size      : 0.8rem;
            color          : $text;
        }

        &:hover {
            &::after {
                transform: scale(1);
            }
        }

        img {
            width        : 100%;
            height       : 100%;
            border-radius: 50%;
        }
    }

    form {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        width          : 100%;
        gap            : 1rem;
        padding        : 0.4rem;

        .res {
            width : 50%;
            margin: auto;

            .error {
                color        : $text;
                background   : red;
                margin-top   : 0.4rem;
                border-radius: $halfRadius;
                padding      : 0.3rem;
            }

            .success {
                color        : $text;
                background   : green;
                margin-top   : 0.4rem;
                border-radius: $halfRadius;
                padding      : 0.3rem;
            }
        }

        input {
            border       : none;
            border-bottom: 1px solid $primary;
            width        : fit-content;
            outline      : none;

            &:last-of-type {
                opacity: .5;
            }
        }
    }
}