.sidebar {
    width             : 100%;
    height            : 100%;
    background        : $primary;
    padding           : 0.5rem !important;
    // display   : grid;
    display           : flex;
    gap               : .5rem;
    flex-direction    : column;
    justify-content   : space-between;
    // overflow-y     : auto;

    .top {
        display           : flex;
        // flex-direction : column;
        justify-content   : space-between;

        .logo {
            color: $bg;

            .logo-ico {
                font-size: 2rem;
                color    : $bg;
            }
        }

        .close {
            cursor       : pointer;
            // align-self: end;

            @media screen and (min-width: $lgScreen) {
                display: none;
            }

            @media screen and (min-width: $mdScreen) and (max-width: $lgScreen) {
                display: none;
            }

            .times {
                font-size: 1.2rem;
                color    : $text;
            }
        }
    }

    .users {
        display        : flex;
        flex-direction : column;
        gap            : .5rem;
        overflow-y     : auto;
        scrollbar-width: thin;
        transition     : .5s;
        width          : 100%;

        &.slide {
            width   : 0;
            overflow: hidden;
        }

        .user {
            display        : flex;
            width          : 100%;
            align-items    : center;
            justify-content: center;
            padding        : 0.3rem;
            padding-left   : 0;
            position       : relative;
            gap            : .5rem;

            img {
                width        : 2rem;
                border-radius: 50%;
            }

            .link {
                background    : none;
                border        : none;
                text-align    : left;
                padding       : 0.3rem;
                width         : 100%;
                padding-left  : 0;
                color         : $text;
                position      : relative;
                font-size     : 1rem;
                display       : flex;
                flex-direction: column;
                font-family   : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                .latest {
                    font-size: 0.7rem;
                    opacity  : .7;
                }

                // width      : fit-content;
            }

            &::after {
                content   : '';
                position  : absolute;
                width     : 100%;
                height    : 0.2rem;
                background: $bg;
                transform : scaleX(0);
                left      : 0;
                bottom    : 0;
                transition: .5s;
            }

            &:hover {
                &::after {
                    transform: scaleX(1);
                }
            }

            &.active {
                &::after {
                    transform: scaleX(1);
                }
            }
        }
    }

    .side-footer {
        width                : 100%;
        display              : flex;
        flex-direction       : column;
        justify-content      : space-between;
        align-items          : center;
        gap                  : .5rem;
        // height            : 3rem;
        // place-self     : end;

        .avatar {
            height         : 100%;
            display        : flex;
            justify-content: center;
            align-items    : center;
            gap            : .4rem;

            .image {
                height  : 100%;
                width   : fit-content;
                overflow: hidden;


                img {
                    border-radius: 50%;
                    width        : 2rem;
                    height       : 2rem;
                    object-fit   : contain;
                }
            }

            span {
                font-weight: light;
                color      : $text;
            }
        }

        .opt {
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            width          : 100%;
            background     : lighten($color: $primary, $amount: 30%);
            border-radius  : 50px;
            padding        : $halfPad;
            cursor         : pointer;
            transition     : 1s;
            border         : none;

            &:hover {
                background: none;
                border    : 1px solid $text;

                p {
                    color: $text;
                }

                .log-ico {
                    color: $text;
                }
            }

            p {
                transition   : 1s;
                font-size    : 1.1rem;
                margin-bottom: 0;
                color        : $primary;
            }

            .log-ico {
                transition: 1s;
                font-size : 1.1rem;
                color     : $primary;

                &.out {
                    color: red;
                }
            }

        }
    }

}

.divider {
    width     : 100%;
    height    : 1px;
    background: #00000050;
}