$bg         : #8de3ff;
$text       : #f0fbfc;
$pad        : 1rem;
$halfPad    : .5rem;
$radius     : 1rem;
$halfRadius : .5rem;
$primary    : #1b43d6;
$lgScreen   : 860px;
$mdScreen   : 590px;